.container {
	margin: 1rem 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 100%;
}

.searchBox {
	display: flex;
	justify-content: center;
	border: none;
}
.searchBox form button {
	display: none;
}
.searchBox input {
	font-size: 1rem;
	width: 500px;
	padding: 0.7rem 1rem;
	margin: 0%;
	border: 2px solid #3f9094;
	border-radius: 1rem 1rem 0 0;
}

.searchBox input:hover {
	box-shadow: 0 0 10px 1px #a9ede7;
}
.searchBox :focus-visible {
	outline: none;
}
.hits {
	display: flex;
	justify-content: center;
}

.hits ol {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	/* From https://css.glass */
	background: rgba(231, 232, 232, 0.6);
	border-radius: 0px 0px 16px 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(18.6px);
	-webkit-backdrop-filter: blur(18.6px);
	list-style-type: none;
	gap: 0.5rem;
	padding: 1rem 0;
}

.hits ol li {
	margin: 0 1rem;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
	.searchBox form {
		width: 280px;
	}
	.searchBox input {
		width: 280px;
	}

	.hits ol {
		width: 280px;
	}
}

@media screen and (min-width: 375px) and (max-width: 425px) {
	.searchBox form {
		width: 360px;
	}
	.searchBox input {
		width: 360px;
	}

	.hits ol {
		width: 360px;
	}
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	.searchBox form {
		width: 90%;
	}
	.searchBox input {
		width: 100%;
	}

	.hits ol {
		width: 90%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.searchBox form {
		width: 80%;
	}
	.searchBox input {
		width: 100%;
	}

	.hits ol {
		width: 80%;
	}
}

@media screen and (min-width: 1024px) {
	.searchBox form {
		width: 1130px;
	}
	.searchBox input {
		width: 100%;
	}

	.hits ol {
		width: 1130px;
	}
}
