/* ----- Knapper - for desktop/tablet ----- */

.filterButtonContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.buttonListContainer {
	display: flex;
	flex-direction: column;
	height: 3rem;
	width: 100%;
}

.button {
	width: 100%;
	color: #ffffff;
	background: #00535a;
	border-radius: 32px;
	border: none;
	padding: 1rem;
	cursor: pointer;
	transition: ease-in-out 100ms;
}

.company {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: start;
	gap: 1rem;
	width: 100%;
}

.company a {
	color: #000;
	text-decoration: none;
}

.company img {
	width: 2rem;
}

.hit {
	width: 100%;
}

.hit ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(auto-fill, 2rem);
	grid-column-gap: 0.5rem;
	grid-row-gap: 0.5rem;
}

.filterList {
	width: 100%;
	border-radius: 0px 0px 16px 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(18.6px);
	-webkit-backdrop-filter: blur(18.6px);
}

.filterList div {
	position: relative;
}

.filterList ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	padding: 1rem;
}

.filterList label {
	list-style: none;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.singelButton {
	display: flex;
	flex-direction: column;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.hit ul {
		grid-template-columns: repeat(2, 1fr);
	}

	.filterButtonContainer {
		flex-direction: row;
	}

	.buttonListContainer {
		align-items: center;
	}
}

@media screen and (min-width: 1024px) {
	.hit ul {
		margin: 1rem auto;
		max-width: 1280px;
		grid-template-columns: repeat(3, 1fr);
	}

	.button:hover {
		box-shadow: 0 0 10px 1px #a9ede7;
		transform: scale(1.03);
	}
}

/* @media screen and (max-width: 425px) {
	.hit ul {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fill, 2rem);
	}
	.hit ul li {
		display: flex;
		justify-content: space-between;
	}

	.hit ul li a {
		width: fit-content;
	}
} */

/* @media screen and (min-width: 355px) and (max-width: 694px) {
	.filterButtonContainer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hit ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fill, 2rem);
		grid-column-gap: 0.5rem;
		grid-row-gap: 0.5rem;
	}
}*/
